@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

:root {
  --white-color: hsl(0, 0%, 100%);
  --lighter-color: hsl(0, 0%, 90%);
  --light-color: hsl(0, 0%, 70%);
  --dark-color: hsl(0, 0%, 20%);
  --darker-color: hsl(0, 0%, 10%);
  --black-color: hsl(0, 0%, 0%);
  --win-color: hsl(155, 100%, 30%);
  --lose-color: hsl(345, 100%, 40%);
  --hue: 34;
  --main-color: hsl(var(--hue), 100%, 50%); }

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  color: var(--white-color);
  background-color: var(--black-color);
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease; }
  body.--finished {
    -webkit-transition: none;
    transition: none; }
  body.--win {
    background-color: var(--win-color); }
  body.--lose {
    background-color: var(--lose-color); }
  body::after {
    content: '';
    position: absolute;
    top: -10vh;
    bottom: -10vh;
    left: -10vh;
    right: -10vh;
    -webkit-box-shadow: inset 0 0 5vh transparent;
            box-shadow: inset 0 0 5vh transparent;
    -webkit-transition: -webkit-box-shadow 2s ease;
    transition: -webkit-box-shadow 2s ease;
    transition: box-shadow 2s ease;
    transition: box-shadow 2s ease, -webkit-box-shadow 2s ease; }
  body.--flash.--player::after {
    -webkit-box-shadow: inset -10vh 0 5vh var(--win-color);
            box-shadow: inset -10vh 0 5vh var(--win-color);
    -webkit-transition: none;
    transition: none; }
  body.--flash.--computer:after {
    -webkit-box-shadow: inset 10vh 0 5vh var(--lose-color);
            box-shadow: inset 10vh 0 5vh var(--lose-color);
    -webkit-transition: none;
    transition: none; }

.startButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACBJREFUKFNj/P///39GRkZGBgKAoAKY/lGFeEOS6OABAGizBAuCOsP3AAAAAElFTkSuQmCC) repeat;
  background-size: 15px;
  opacity: 0.1; }

body.--moving .startButton {
  pointer-events: none; }

.score {
  position: absolute;
  top: 50%;
  left: 20vh;
  width: 80vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 90vh;
  line-height: 1; }
  .score__number {
    padding-top: 4vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    color: var(--darker-color);
    -webkit-transition: color 1s ease;
    transition: color 1s ease; }
    .score__number.--flash {
      color: var(--lighter-color);
      -webkit-transition: none;
      transition: none; }

body.--finished .score__number {
  color: var(--light-color);
  -webkit-transition: none;
  transition: none; }

.indicator {
  text-align: center; }
  .indicator__finish {
    font-size: 8vh;
    position: absolute;
    top: calc(50% - 9vh);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    word-spacing: -1vh;
    color: transparent;
    -webkit-transition: color 1s ease;
    transition: color 1s ease; }
  .indicator__serve {
    font-size: 2.5vh;
    position: absolute;
    top: calc(50% + 7vh);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: var(--light-color);
    -webkit-transition: color 1s ease;
    transition: color 1s ease; }

body.--finished .indicator__finish {
  -webkit-transition: none;
  transition: none; }

body.--win .indicator__finish.--win {
  color: var(--light-color); }

body.--lose .indicator__finish.--lose {
  color: var(--light-color); }

body.--moving .indicator__serve {
  color: transparent; }

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  z-index: 1;
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2vh;
  pointer-events: none; }
  .ball__inner {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: var(--light-color);
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease; }
  .ball.--flash .ball__inner {
    background-color: var(--main-color);
    -webkit-transition: none;
    transition: none; }

.paddle {
  --position: 50;
  --size: 16;
  position: absolute;
  z-index: 1;
  top: calc(var(--position) * 1vh);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .paddle.--player {
    left: 6vh; }
  .paddle.--computer {
    right: 6vh; }
  .paddle__inner {
    width: 3vh;
    height: calc(var(--size) * 1vh);
    background-color: var(--light-color);
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease; }
  .paddle.--flash .paddle__inner {
    background-color: var(--main-color);
    -webkit-transition: none;
    transition: none; }
/*# sourceMappingURL=styles.css.map */